/* overpass-100normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Overpass Thin '),
    local('Overpass-Thin'),
    url('overpass-latin-100.191c9f9b.woff2') format('woff2'), 
    url('overpass-latin-100.56a03641.woff') format('woff'); /* Modern Browsers */
}

/* overpass-100italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Overpass Thin italic'),
    local('Overpass-Thinitalic'),
    url('overpass-latin-100italic.5a090e42.woff2') format('woff2'), 
    url('overpass-latin-100italic.ab2fcfcd.woff') format('woff'); /* Modern Browsers */
}

/* overpass-200normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Overpass Extra Light '),
    local('Overpass-Extra Light'),
    url('overpass-latin-200.539f8b23.woff2') format('woff2'), 
    url('overpass-latin-200.389f25d7.woff') format('woff'); /* Modern Browsers */
}

/* overpass-200italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Overpass Extra Light italic'),
    local('Overpass-Extra Lightitalic'),
    url('overpass-latin-200italic.c966c9fb.woff2') format('woff2'), 
    url('overpass-latin-200italic.1ea831a6.woff') format('woff'); /* Modern Browsers */
}

/* overpass-300normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Overpass Light '),
    local('Overpass-Light'),
    url('overpass-latin-300.5312a552.woff2') format('woff2'), 
    url('overpass-latin-300.282e07ff.woff') format('woff'); /* Modern Browsers */
}

/* overpass-300italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Overpass Light italic'),
    local('Overpass-Lightitalic'),
    url('overpass-latin-300italic.59092844.woff2') format('woff2'), 
    url('overpass-latin-300italic.7aaea761.woff') format('woff'); /* Modern Browsers */
}

/* overpass-400normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Overpass Regular '),
    local('Overpass-Regular'),
    url('overpass-latin-400.66274748.woff2') format('woff2'), 
    url('overpass-latin-400.8d47bbab.woff') format('woff'); /* Modern Browsers */
}

/* overpass-400italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Overpass Regular italic'),
    local('Overpass-Regularitalic'),
    url('overpass-latin-400italic.e3857813.woff2') format('woff2'), 
    url('overpass-latin-400italic.d95e7fcf.woff') format('woff'); /* Modern Browsers */
}

/* overpass-600normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Overpass SemiBold '),
    local('Overpass-SemiBold'),
    url('overpass-latin-600.dc2d1e01.woff2') format('woff2'), 
    url('overpass-latin-600.2b838bb5.woff') format('woff'); /* Modern Browsers */
}

/* overpass-600italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Overpass SemiBold italic'),
    local('Overpass-SemiBolditalic'),
    url('overpass-latin-600italic.bff65607.woff2') format('woff2'), 
    url('overpass-latin-600italic.984e47c2.woff') format('woff'); /* Modern Browsers */
}

/* overpass-700normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Overpass Bold '),
    local('Overpass-Bold'),
    url('overpass-latin-700.c4e44636.woff2') format('woff2'), 
    url('overpass-latin-700.a122f2c4.woff') format('woff'); /* Modern Browsers */
}

/* overpass-700italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Overpass Bold italic'),
    local('Overpass-Bolditalic'),
    url('overpass-latin-700italic.6cd1ff57.woff2') format('woff2'), 
    url('overpass-latin-700italic.c6dd1e82.woff') format('woff'); /* Modern Browsers */
}

/* overpass-800normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Overpass ExtraBold '),
    local('Overpass-ExtraBold'),
    url('overpass-latin-800.d558ad70.woff2') format('woff2'), 
    url('overpass-latin-800.578edaa5.woff') format('woff'); /* Modern Browsers */
}

/* overpass-800italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Overpass ExtraBold italic'),
    local('Overpass-ExtraBolditalic'),
    url('overpass-latin-800italic.e280711b.woff2') format('woff2'), 
    url('overpass-latin-800italic.6e3f9ad9.woff') format('woff'); /* Modern Browsers */
}

/* overpass-900normal - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Overpass Black '),
    local('Overpass-Black'),
    url('overpass-latin-900.3eb4d80d.woff2') format('woff2'), 
    url('overpass-latin-900.9ddf5048.woff') format('woff'); /* Modern Browsers */
}

/* overpass-900italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Overpass Black italic'),
    local('Overpass-Blackitalic'),
    url('overpass-latin-900italic.03e1efb9.woff2') format('woff2'), 
    url('overpass-latin-900italic.19233b48.woff') format('woff'); /* Modern Browsers */
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1.4rem;
}

body {
  background-color: #fff;
  color: #3c3c3c;
  font-family: overpass, sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  border-bottom: 8px solid #eddd3e;
  background-color: #fafafa;
}

.section--dark {
  background-color: #3c3c3c;
  color: #fff;
}

p, ul, ol, pre {
  max-width: 35em;
  margin-bottom: 1.3em;
}

iframe {
  flex-grow: 1;
  width: 100%;
}

ul, ol {
  list-style-position: inside;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-alpha;
}

h1, h2, h3, h4 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  font-weight: 300;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

img {
  margin-bottom: 2rem;
  vertical-align: middle;
}

img + img {
  margin-top: 2rem;
}

a {
  color: #64B5F6;
  font-weight: bold;
}

blockquote, cite {
  position: relative;
  font-size: 1.2em;
  font-weight: 300;
}

blockquote p::before,
blockquote p::after {
  position: absolute;
  font-size: 1.414em;
  font-weight: 500;
}

blockquote p::before {
  margin-left: -0.75em;
  content: open-quote;
}

blockquote p::after {
  margin-left: 0.5em;
  content: close-quote;
}

pre {
  padding: 1em;
  background-color: #3c3c3c;
  color: #fff;
}

.code-pair-example {
  display: grid;
  grid-auto-columns: minmax(25em, auto);
  grid-auto-flow: column;
  grid-column-gap: 2em;
  grid-template-rows: auto 1fr;
}
